<button id="play">Play</button><br />
<button id="pause">Pause</button><br />
<button id="skip">Skip</button><br />
<button id="prev">Previous</button><br />

<input type="text" id="start-id" value="2769" /><br />
<input type="text" id="playlist-length" value="13" /><br />
<button id="generate-new">Generate new playlist</button>

<script type="text/javascript">
  var onReady = function() {
    playlist = null;
    var generateNewPlaylist = function() {
      var start = $("#start-id").val();
      var length = $("#playlist-length").val();

      var sublist = [];
      for(var i = 0; i < length; i++) {
        sublist.push(Number(start) + i);
      }
      console.log(sublist);
      playlist = new Playlist(sublist);
    };

    generateNewPlaylist();

    $("#play").on("click", function() {
      console.log("Play clicked");
      playlist.playCurrent();
    });

    $("#pause").on("click", function() {
      playlist.pause();
    });

    $("#skip").on("click", function() {
      playlist.skip();
    });

    $("#prev").on("click", function() {
      playlist.prev();
    });

    $("#generate-new").on("click", function() {
      generateNewPlaylist();
    });
  };

  var loadLibrary = function(libraryName) {
    if(!window.waitingForLibrary) {
      window.waitingForLibrary = {};
    }

    var deferred = $.Deferred();
    window.waitingForLibrary[libraryName] = deferred;
    $("head").append('<script type="text/javascript" src="<%= request.scheme %>://<%= request.host_with_port %>/js/' + libraryName + '.js"></s' + 'cript>');
    return deferred;
  };

  var required = ["new-playlist"];

  var waiters = _(required).map(function(libraryName) {
    return loadLibrary(libraryName);
  });

  $.when.apply(this, waiters).done(onReady);
</script>
