<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <title>StreamRoller</title>

  <script type="text/javascript" src="js/lib/LAB.js"></script>
  <script type="text/javascript" src="/js/lib/jquery-1.8.0.js"></script>
  <script type="text/javascript" src="/js/lib/underscore.js"></script>
  <script type="text/javascript" src="/js/phonegap-media-emulator.js"></script>
</head>
<body>
<%= partial('mobile.partial') %>
</body>
</html>
