<button id="play">Play</button><br />
<button id="pause">Pause</button><br />
<button id="skip">Skip</button><br />
<button id="prev">Previous</button><br />

<input type="text" id="start-id" value="4184" /><br />
<input type="text" id="playlist-length" value="13" /><br />
<button id="generate-new">Generate new playlist</button>

<script type="text/javascript">
  var onReady = function() {
    playlist = null;
    var generateNewPlaylist = function() {
      var start = $("#start-id").val();
      var length = $("#playlist-length").val();

      var sublist = [];
      for(var i = 0; i < length; i++) {
        sublist.push(Number(start) + i);
      }
      playlist = new Playlist("<%= server_path %>", sublist);
    };

    generateNewPlaylist();

    $("#play").on("click", function() {
      console.log("Play clicked");
      playlist.playCurrent();
    });

    $("#pause").on("click", function() {
      playlist.pause();
    });

    $("#skip").on("click", function() {
      playlist.skip();
    });

    $("#prev").on("click", function() {
      playlist.prev();
    });

    $("#generate-new").on("click", function() {
      generateNewPlaylist();
    });
  };

  var expand = function(libraryName) {
    return "<%= server_path %>/js/" + libraryName + ".js";
  }

  $LAB
    .script(expand("new-player"))
    .script(expand("new-playlist"))
    .wait(onReady);
</script>
