<button id="play">Play</button><br />
<button id="pause">Pause</button><br />
<button id="skip">Skip</button><br />
<button id="prev">Previous</button><br />

<input type="text" id="start-id" value="4218" /><br />

<script type="text/javascript">
  var onReady = function() {
    soundManager.setup({preferFlash: false, url: "/swf",
      useHTML5Audio: true,
      onready: function() {
        soundManager.html5Only = true;
        console.log('Ready to play sound!');
        player = new ConsecutivePlayer("<%= server_path %>", 1);
      }
    });

    $("#pause").on("click", function() {
      player.pause();
    });

    $("#skip").on("click", function() {
      player.skip();
    });

    $("#prev").on("click", function() {
      player.prev();
    });

    $("#play").on("click", function() {
      console.log("Play clicked");
      var start = Number($("#start-id").val());
      player.currentId = start;
      player.play();
    });
  };

  window.server_path = "<%= server_path %>";

  var expand = function(libraryName) {
    return "<%= server_path %>/js/" + libraryName + ".js";
  }

  console.log(expand("new-playlist"));

  $LAB
    .script(expand("soundmanager-player"))
    .script(expand("consecutive-player"))
    .script(expand("controllers"))
    .script(expand("lib/angular"))
    .wait(onReady);
</script>

<ul ng-controller="AlbumListCtrl">
  <li ng-repeat="artist in artists">
    {{artist.name}}
    <ul>
      <li ng-repeat="album in artist.albums"><button ng-click="selectAlbum(album.name)">{{album.name}}</button></li>
    </ul>
  </li>
</ul>