<div ng-repeat="album in albums" class="album">
  <span class="title">{{album.name}}</span> <span ng-show="album.date.length">({{album.date}})</span> 
  <div class="row-fluid">
    <div class="span2">
      <img src="/pic/{{album.art}}/175"/>
      <button class="queueAlbum btn btn-mini btn-primary" ng-click="queueAlbum(album)">Add Album</button>
    </div>
    <div class="span10">
      <ul>
        <li ng-repeat="song in album.tracks">
          <a ng-click="queueTrack(song)" data-id="{{song.id}}" href="/get/{{song.id}}">
            <span ng-show="song.id3_track != undefined">{{song.id3_track}}.</span>
            {{song.id3_title}}
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>